@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
.container{
    width: 500px;
    height: 600px;
    margin: auto;
    background-color: rgb(0, 57, 230);
    margin-top: 30px;
    border-radius: 10px;
}
.info {
    font-size: 27px;
    font-weight: 600;
    padding-top: 100px;
    text-align: center;
    color: white;
}
.numbers{
    margin-top: 100px;
    margin-left: 21px;
    width: 459px;
    height: 270px;
    background-color: rgb(0, 57, 230);
}
.numbers .num{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 40px;
}
